:root {
    --brand-color: #141414;
    }

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 1032px;
    margin: 0 auto;
    padding: 0 10px;
  }

/* хедер */

.header {
    background-image: url(pitcures/Rectangle\ 104.jpg);
    width: 1440px;
    height: 150px;
}

    button {
        background-color: #0B0E66;
        color: #26C7EA;
        border: 3px solid #26C7EA;
        font-family: "Headland One", serif;
        border-radius: 45px 0px;
    }

    .nav-list {
        display: flex;
        gap: 38px;
    }

    .nav-page {
        color: #94CFFF;
        font-size: 20px;
        height: 24px;
        line-height: 24.2px;
        font-weight: 600;
    }

    .nav-span {
        color: #FFFFFF;
        font-size: 20px;
        height: 24px;
        line-height: 24.2px;
        font-weight: 300;
        border-radius: 35px 0px;
    }

    .on-off {
        color: #FFFFFF;
        font-family: "Hammersmith One", sans-serif;
        height: 20px;
        font-weight: 400;
        size: 16px;
        line-height: 20px;
    }

    .login-btn {
        width: 141px;
        height: 41.69px;
        font-weight: 400;
        size: 20px;
        line-height: 25.05px;
        border: 2px solid #26C7EA;
    }

    .trailer {
        height: 741px;
        padding: 330px 0;
        background: url(pitcures/Rectangle\ 10.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* hero section */

    .hero {
        padding: 180px 0;
        height: 740px;
        background-image: url(pitcures/Group\ 48\ 1.png);
        background-size: cover;
    }

    .hero-text-ua,
    .hero-text-navi {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        width: 280px;
    }

    .button-hero {
        border: 3px solid #26C7EA;
        font-weight: 400;
        font-size: 24px;
        padding: 25px 74px;
    }

    .language {
        background-image: url(pitcures/Rectangle\ 20.jpg);
        height: 704px;
    }

    .language-item {
        background-color: rgba(255, 255, 255, 70%);
        padding: 36px 0;
        font-family: "Headland One", serif;

    }

    .language-title {
        font-family: "Headland One", serif;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 43px;
        text-align: center;
    }

    .footer {
        background: url(pitcures/Rectangle\ 12.png);
        padding-top: 77px;
        padding-bottom: 25px;
    }

    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
      }
      
      .email-text,
      .footer-text {
        color: #FFFFFF;

      }

      .quote {
        padding-top: 75px;
        padding-bottom: 10px;
        font-family: "Inter", sans-serif;
      }

      .trailer-watch-btn {
        border: 3px solid #26C7EA;
        font-weight: 400;
        font-size: 24px;
        padding: 25px 74px;
      }

      .footer-copyrigts {
        color: #FFFFFF;
      }

      .footer-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
      }

      .footer-item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FFFFFF;
      }
      .footer-item:nth-child(1) {
        margin-bottom: 18px;
      }

      .footer-text {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }

      .footer-text::after {
        content: "";
        margin-left: 10px;
        height: 5px;
        width: 100%;
        border-bottom: 1px dashed #FFFFFF;
      }

      .footer-list {
        width: 645px;
      }